* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
  background-image: radial-gradient(
    1800px 1100px at center,
    #0e143d,
    #000000fc,
    #111010e2
  );
}

nav {
  padding: 1rem;
  height: 10rem;
  width: 100%;
  position: absolute;
  top: 0;
  border-bottom: 0.07rem solid white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.greeting {
  height: 100%;
  display: flex;
  align-items: center;
  color: whitesmoke;
  position: absolute;
  top: 0%;
  left: 0%;
  margin-left: 2%;
  z-index: 10;
}

.name {
  height: 100%;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 2.3rem;
  font-family: "Proxima Nova", Helvetica, sans-serif;
  font-weight: 900;
  cursor: pointer;
  margin-left: 10%;
  transition: all 0.9s;
  position: absolute;
  z-index: 46;
}

.name:hover {
  color: #e50050;
}

.menu {
  height: 100%;
  position: absolute;
  right: 0%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.7rem;
  cursor: pointer;
  z-index: 6;
}

.line {
  cursor: pointer;
  height: 1rem;
  min-width: 6rem;
  border-radius: 1rem;
  background-color: gainsboro;
  transition: all 0.3s ease;
}

.menuTxt {
  width: 6rem;
  font-size: 1.8rem;
  color: gainsboro;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.menu:hover .line {
  background-color: rgb(86, 85, 85);
  border-top: none;
  border-bottom: none;
  transition: all 0.5s;
}

.menu:hover .line,
.menu:hover .menuTxt {
  animation-name: bounce;
  animation-duration: 0.81s;
  animation-timing-function: ease-in-out;
}

@keyframes bounce {
  20%,
  50%,
  80%,
  to {
    transform: scale(1, 1);
  }
  45% {
    transform: scale(0.75, 0.65);
  }
  60% {
    transform: scale(1.25, 1.75);
  }
  90% {
    transform: scale(1.15, 0.85);
  }
  100% {
    transform: scale(1, 1);
  }
}

.body i {
  animation-name: twinkle;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transition: all ease 0.3s;
  position: absolute;
  z-index: 1 !important;
}

.invisible {
  visibility: hidden;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(38, 41, 38, 0.822);
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  justify-content: center;
  align-items: center;
  display: none;
  font-family: "Poppins", sans-serif;
}

.overlay__link {
  color: white;
  text-decoration: none;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;

  font-weight: 900;
  letter-spacing: 0.2rem;
}

.overlay__link:hover {
  color: #ffffff;
  font-weight: 800;
  animation-name: bounce;
  animation-duration: 0.71s;
  animation-timing-function: ease;
}

@keyframes twinkle {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.6;
    background-color: rgb(176, 165, 165);
  }
  50% {
    opacity: 1;
    background-color: rgb(110, 104, 104);
  }
  75% {
    opacity: 0;
    background-color: rgb(176, 165, 165);

    height: calc(height + 10px);
    width: calc(width + 10px);
  }
  90% {
    opacity: 1;
    background-color: rgb(110, 104, 104);
  }
  100% {
    background-color: rgb(176, 165, 165);

    opacity: 0;
  }
}
#parent {
  margin-top: 10rem !important;
}

#parent .title p {
  padding-top: 10rem;
  font-size: 4rem;
  color: white;
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  text-align: center;
  margin-bottom: 10rem;
}
.project__image__carasoul {
  margin-top: 5rem;
  height: 40rem;
  width: 100%;
  padding: 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 10rem;
}

.image__parent {
  height: 46rem;
  width: 70rem;
  background-color: white;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 1rem;
}
.project__image_container {
  height: 44rem;
  width: 68rem;
  position: absolute;
  z-index: 5;
  background-color: white;
  border-radius: 3rem;
  border: 0.5rem solid grey;
  background-image: url("../asset/projectImg/AC9.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.8s 0.03s;
  transform-origin: center;
}
.left_side_arrow,
.right_side_arrow {
  color: white;
  font-size: 15rem;
  cursor: pointer;
}

.aboutProject {
  height: max-content;
  width: 80%;
  background-color: white;
  border-radius: 2rem;
  padding: 3rem 3rem;
  color: black;
  font-family: proxima-nova, sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 4.5rem;
  margin-bottom: 10rem;
}

.pageIndex {
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(3.5rem);
  font-size: 1.5rem !important;
  font-family: proxima-nova, sans-serif;
  font-weight: 100;
  word-spacing: 0.2rem;
  margin-left: 10rem;
  margin-top: 2rem;
  position: absolute;
  z-index: 5;
}

.pageIndex span {
  word-spacing: 0.5rem;
  font-weight: 500;
  font-size: 1.5rem;
}
.pageIndex a {
  color: black;
  font-size: 1.5rem;
}

.point {
  margin-top: 3rem;
}

.pageIndex a:hover {
  color: #e50050;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

span.highlight.normal {
  font-weight: 200;
  cursor: pointer;

  font-size: 3rem !important;
  text-decoration: underline;
}

span.highlight:hover {
  font-size: 3rem !important;
  color: #e50050;
  transition: all 0.3s;
}

p.year {
  margin-top: 4rem;
  font-size: 2rem;
  /* font-weight: 900; */
  /* color: grey; */
  /* text-decoration: underline; */
}

p.year b {
  font-weight: 700;
  color: #000000;
}
